Pods
Podfile.lock
.DS_Store
SwiftDatastore.xcodeproj/*.xcworkspace/**/*
SwiftDatastore/**/xcuserdata
TestApps/CocoaPodsApp/CocoaPodsApp.xcodeproj/xcuserdata
TestApps/CocoaPodsApp/CocoaPodsApp.xcodeproj/project.xcworkspace
TestApps/CocoaPodsApp/CocoaPodsApp.xcworkspace
.swiftpm/xcode/**/xcuserdata/**/*
